.page-content{
    position: relative;
   
}
.land{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.land::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(117, 152, 216, 0.7);
    filter: blur(6.5px);
    flex: 1;
    background-image: url(../assets/IMG-20240110-WA0029.jpg);
    background-size: cover;
    min-height: 86.3dvh;
    z-index: -1;
}
.land .geology-action button {
    padding: 8px 67px;
}
@media screen and (max-width: 810px) {
    .land{
        flex: 0 0 100%;
        flex-direction: column;
        
    }
    .land div {
        margin-top: 2rem;
    }
    .geology-action{
        margin: 1.5rem 0 1.5rem 0;
    }
}
.land div {
    flex: 0 0 50%;
}
.head h1{
    margin: 0;
}
.head-text p, .head-text h4{
    margin: 0;
    font-size: 16.5px;
}
.geology{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.geology-action{
    display: flex;
    justify-content: center;
    align-items: center; 
}
h1.landhead {color: bisque;
text-align: center;}
.land p,h3.landtext {
    color: #000;
    }